.todo {
  background-color: #f8f9fa;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.todo p {
  margin: 0;
  cursor: pointer;
}

.completed p {
  text-decoration: line-through;
  color: #555;
}

.todo-icons {
  font-size: 1.2rem;
}

.todo-icons span {
  margin-left: 0.5rem;
  cursor: pointer;
}

.edit-icon:hover,
.delete-icon:hover {
  color: #ff4d4f;
}

.todo-input {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  outline: none;
}

.todo-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
